/* ----------------- */
/* Reset             */
/* ---------------   */

/* box sizing */
*, *::before, *::after{
  box-sizing: border-box;
}

/* --------------------------- */
/* html css custom properties  */
/* --------------------------- */

html{
  --gap: 2rem;
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /*  font-sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;

  /* utility css customs */
  --flow-space: .5rem;
  --title-space: 1rem;
  --button-space: 5rem;
}

/* reset margins */
body, 
h1, h2,
h3, h4, 
h5, 
p, 
figure, picture {
  margin: 0;
}

/* reset weight */
h1, h2,
h3, h4, 
h5, p, span{
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsl( var(--clr-white));
  background-color: hsl( var(--clr-dark));
  line-height: 1.5;
  min-height: 100vh;
}

/* make image easier to use */
img, picture{
  max-width: 100%;
  display: block;
}

/* make form easier to work on */
input, button, textarea, select{
  font: inherit;
}
/* remove animation for people who turned them off */
@media (prefers-reduced-motion: reduce){
  *, *::before, *::after{
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto;
  }
}
/* ----------------- */
/* Utility  classes  */
/* ---------------   */

/* general */
.flex{
  display: flex;
  gap: var(--gap, 1rem);
}

.grid{
  display: grid;
  gap: var(--gap, 1rem);
}
/* select in flow, childs that have siblings before them to make them margin-top */
.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}
.container{
  width: 80%;
  max-width: 80rem;
  margin-inline: auto;
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;  /* no line breaking */
  border: 0;
}

/* utlity styles */
.box-shadow{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.p-1{
  padding: 1rem;
}
.p-1--r{
  padding-right: 1rem;
}
.my-1{
  margin-top: 1rem;
}
.my-5{
  margin-top: 5rem;
}
.my-7{
  margin-top: 7rem;
}
.colors__divs{
  padding: 3rem 10rem 1rem 1rem;
  border: 1px solid hsl(var(--clr-light) / .4); 
  text-align: left
}
/* colors */

.bg-dark{
  background-color: hsl(var(--clr-dark));
}
.bg-light{
  background-color: hsl(var(--clr-light));
}
.bg-white{
  background-color: hsl(var(--clr-white));
}
.txt-dark{
  color: hsl(var(--clr-dark));
}
.txt-light{
  color: hsl(var(--clr-light));
}
.txt-white{
  color: hsl(var(--clr-white));
}
.txt-white--opacity{
  color: hsl(var(--clr-white) / .3);
}
/* ------------- */
/*  typography   */
/* ------------- */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }


.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

/* ------------- ------*/
/*  flex utlity styles*/
/* ------------- -----*/

.flex-basis-100{
  flex-basis: 100%;
}

/* ------------- */
/*  ids          */
/* ------------- */
#colors{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}


/* ------------- ------------*/
/*  titles utility classes   */
/* ------------- ------------*/

.numbered-title{
  margin-bottom: var(--title-space, 1rem);
  color: white;
  text-transform: uppercase;
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  letter-spacing: 4.75px;
}
.numbered-title span{
  color: hsl( var(--clr-white) / .25);
  margin-right: .5em;
  font-weight: 700;
}

/* ----------- */
/* components */
/* --------- */

.large-button{
  border-radius: 50%;
  display: grid;
  position: relative;
  place-items: center;
  aspect-ratio: 1;
  padding: 0 2em;
  z-index: 1;
  text-decoration: none;
}
.large-button::before{
  content: '';
  position: absolute;
  background-color: hsl( var(--clr-white) / .25);
  border-radius: inherit;
  place-items: center;
  aspect-ratio: 1;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 500ms linear, transform 400ms ease-in-out;
}
.large-button:focus::before, 
.large-button:hover::before{
  opacity: 1;
  transform: scale(1.5);
}
