/* ----------------- */
/* Reset             */
/* ---------------   */

/* box sizing */
*, *::before, *::after{
  box-sizing: border-box;
}
/* #root{
  min-height: 100vh;
} */
/* --------------------------- */
/* html css custom properties  */
/* --------------------------- */
html{
  --gap: 2rem;
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /*  font-sizes */
  --fs-900: clamp(6rem, 7vw + 2rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1.75rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
    
  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;

  /* utility css customs */
  --flow-space: .5rem;
  --title-space: 1rem;
  --button-space: 5rem;
  --container-gap: 2rem;
}

@media (min-width: 600px){
  html{
    --fs-900: 6.375rem;
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.75rem;
    --fs-400: 1rem;
    --fs-300: .875rem;
  }
}

@media (min-width: 900px){
  html{
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
  }
}

/* reset margins */
body, 
h1, h2,
h3, h4, 
h5, 
p, 
figure, picture {
  margin: 0;
  padding: 0;
}

/* reset weight */
h1, h2,
h3, h4, 
h5, p, span{
  font-weight: 400;
}
/* set up max ch width */
p {
  max-width: 60ch;
}

h1 {
  font-size: var(--fs-300);
}
/* set up the body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsl( var(--clr-white));
  background-color: hsl( var(--clr-dark));
  line-height: 1.5;
  min-height: 100vh;
}

/* make image easier to use */
img, picture{
  max-width: 100%;
  display: block;
}

/* make form easier to work on */
input, button, textarea, select{
  font: inherit;
}
/* remove animation for people who turned them off */
@media (prefers-reduced-motion: reduce){
  *, *::before, *::after{
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto;
  }
}
/* ----------------- */
/* Utility  classes  */
/* ---------------   */

/* general */
.flex{
  display: flex;
  gap: var(--gap, 1rem);
}
.grid{
  display: grid;
  min-height: 100vh;
  grid-template-rows: min-content min-content 1fr;
}
.block{
  display: block;
}
/* select in flow, childs that have siblings before them to make them margin-top */
.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}
.container{
  width: 80%;
  max-width: 80rem;
  margin-inline: auto;
}
.grid-container{
  grid-row: 3;
  display: grid;
  margin-inline: auto;
}
.grid-container--destination{
  margin-top: 3rem;
  grid-row: 2;
}
.grid-container--technology{
  display: grid;
  margin-top: 3rem;
}
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;  /* no line breaking */
  border: 0;
}
.skip-to-content{
  display: block;
  position: absolute;
  z-index: 300;
  background: hsl( var(--clr-white));
  color: hsl( var(--clr-dark));
  padding: .5em 1em;
  transform: translateY(-105%);
  margin-inline: auto;
  transition: transform 200ms ease-in-out;
}
.skip-to-content:focus{
  transform: translateY(0);
}


/* utlity styles */
.box-shadow{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.p-1{
  padding: 1rem;
}
.pyb-n{
  padding-bottom: var(--padding-space, 1rem);
}
.pyb-1h{
  padding-block: 1.5rem;
}
.mxr-1{
  margin-right: 1rem;
}
.mxr-5{
  margin-right: 5rem;
}
.my-1{
  margin-top: 1rem;
}
.my-3{
  margin-top: 3rem;
}
.my-5{
  margin-top: 5rem;
}
.my-7{
  margin-top: 7rem;
}
.border-b{
  border-bottom: var(--border, 2px) solid hsl( var(--clr-white) / .1)
}
.colors__divs{
  padding-top: 3rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border: 1px solid hsl(var(--clr-light) / .4); 
  text-align: left;
  justify-self: end;
}
.wh-nowrap{
  white-space: nowrap;
}
/* backgrounds images */
.bg-home-d{
  background-image: url("../public/assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
.bg-destination{
  background-image: url("./assets/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
.bg-crew{
  background-image: url("./assets/crew/background-crew-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* colors */

.bg-dark{
  background-color: hsl(var(--clr-dark));
}
.bg-light{
  background-color: hsl(var(--clr-light));
}
.bg-white{
  background-color: hsl(var(--clr-white));
}
.bg-dark--alpha{
  background-color: hsl(var(--clr-white) / .04);
  backdrop-filter: blur(81.5485px);
}
.bg-white--alpha{
  background-color: hsl(var(--clr-white) / .04);
}
.txt-dark{
  color: hsl(var(--clr-dark));
}
.txt-light{
  color: hsl(var(--clr-light));
}
.txt-white{
  color: hsl(var(--clr-white));
}
.txt-white--opacity{
  color: hsl(var(--clr-white) / .3);
}
/* ------------- */
/*  typography   */
/* ------------- */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }


.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

/* ------------- ------*/
/*  flex utlity styles*/
/* ------------- -----*/
.flex-col{
  flex-direction: column;
}
.flex-grow{
  flex-grow: 1;
}
.flex-basis-100{
  flex-basis: 100%;
}
.flex-basis-60{
  flex-basis: 60%;
}
.flex-center{
  place-content: center;
}
.flex-around{
  justify-content: space-around;
  align-content: center;
}
.flex-between{
  justify-content: space-between;
}
.flex-evenly{
  justify-content: space-evenly;
  align-content: center;
}
.flex-end{
  justify-content: flex-end;
}
.flex-ic{
  justify-items: center;
}
.flex-cc{
  justify-content: center;
}
.flex-gap-8{
  gap: 8rem;
}
.self-center{
  align-self: center;
}

/* grid properties */

.grid-container{
  align-self: end;
  text-align: center;
  justify-content: center;
  align-content: center;
  row-gap: max(1em, 5vh);
  padding-bottom: max(2em, 10vh);
}
.grid-container p {
  max-width: 46ch;
}
.grid-container > * > p {
  padding-inline: 5%;
}
/* ------------- */
/*  ids          */
/* ------------- */
#colors{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}


/* ------------- ------------*/
/*  titles utility classes   */
/* ------------- ------------*/

.numbered-title{
  margin-bottom: var(--title-space, 1rem);
  color: white;
  text-transform: uppercase;
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  letter-spacing: 4.75px;
}
.numbered-title-300{
  display: block;
  position: relative;
  margin: 0 auto;
  color: white;
  text-transform: uppercase;
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-300);
  letter-spacing: 2.35px;
}
.numbered-title span, .numbered-title-300 span{
  color: hsl( var(--clr-white) / .25);
  margin-right: .5em;
  font-weight: 700;
}

/* ----------- */
/* components */
/* --------- */

.large-button{
  border-radius: 50%;
  display: inline-grid;
  position: relative;
  place-items: center;
  aspect-ratio: 1;
  padding: 0 2em;
  z-index: 1;
  text-decoration: none;
}
.anim::before{
  content: '';
  position: absolute;
  background-color: hsl( var(--clr-white) / .25);
  border-radius: inherit;
  place-items: center;
  aspect-ratio: 1;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 500ms linear, transform 400ms ease-in-out;
}
.anim:focus::before, 
.anim:hover::before{
  opacity: 1;
  transform: scale(1.5);
}

/* primary-header */
.logo{
  margin-inline: clamp(1.5rem, 6vw, 3.5rem);
}
.img-destination{
  width: 50%;
  display: block;
  margin: 0 auto;
}
.img-crew{
  width: 60%;
  display: block;
  margin: 0 auto;
}
.img-tech{
  width: 100%;
  display: block;
  margin: 0 auto;
}
.primary-navigation{
  padding: 0; 
  margin: 0;
  --underline-gap: 2rem;
  list-style: none;
}
.primary-navigation--destination{
  padding: 0; 
  margin-top: 2rem;
  --gap: 0.3rem;
  --underline-gap: 0.3rem;
  list-style: none;
}
.mobile-nav-toggle{
  display: none;
}

.primary-navigation a, .primary-navigation--destination a{
  text-decoration: none;
  white-space: nowrap;
  font-size: var(--fs-200);
}
.primary-navigation li > span{
  font-weight: 700;
  margin-right: 0.4rem;
}
.underline-indicator > * > * {
  cursor: pointer;
  border: 0;
  padding: var(--underline-gap, 1.5rem);
  border-bottom: 2px solid hsl( var(--clr-white) / var(--alpha, 0));
}

.underline-indicator > * > *:hover, 
.underline-indicator > * > *:focus,
.underline-indicator > * > *:focus{
  border-color: hsl( var(--clr-white) / .5)
}
.underline-indicator > *:focus > :not(.active){
  border-bottom: 2px solid;
  border-color: hsl( var(--clr-white) / .5)
}
.underline-indicator > * > .active, 
.underline-indicator > [aria-pressed="true"]{
  color: hsl( var(--clr-white) / 1);
  border-color: hsl( var(--clr-white) / 1)
}
.tabs{
  --underline-gap: 0.6em;
  --gap: 1.5rem;
}
.dot-indicators > *{
  cursor: pointer;
  border-radius: 50%;
  border: 0;
  aspect-ratio: 1;
  padding: 0.5em;
  background-color: hsl( var(--clr-white) / 0.25)
}

.dot-indicators > *:hover,
.dot-indicators > *:focus{
  background-color: hsl( var(--clr-white) / .5)
}

.dot-indicators > [aria-selected="true"]{
  background-color: hsl( var(--clr-white) / 1)
}

.num-indicators > * > *{
  width: fit-content;
  cursor: pointer;
  color:hsl( var(--clr-white));
  border: 0;
  border-radius: 50%;
  aspect-ratio: 2 / 1;
  padding: .75em;
  background-color: hsl( var(--clr-white) / 0);
  border: 2px solid hsl( var(--clr-white) / .25);
}

.num-indicators > * > *:hover,
.num-indicators > * > *:focus{
  border-color: hsl( var(--clr-white) / .5);
}

.num-indicators > * > [aria-selected="true"]{
  color: hsl( var(--clr-dark));
  background-color: hsl( var(--clr-white) / 1);
}
.line-destination{
  position: absolute;
  display: block;
  margin-top: 2.5rem;
  left: 5%;
  right: 5%;
  width: 90%;
}
.line-destination > span{
  position: absolute;
  z-index: 0;
  display: block;
  width: 100%;
  height: 2px;
  margin: 0 auto;
  background-color: hsl( var(--clr-white) / 1);
}
.planet-text{
  display: block;
}
.planet-text > p, .planet-text--crew > p{
  margin: 0 auto;
}
.planet-text_bottom p{
  margin: 0 auto;
}
/* ------------------- */
/* MEDIA QUERIES       */
/* ------------------- */

@media (max-width: 599px){
  header {
    margin-top: 3rem;
  }
  .primary-navigation{
    --underline-gap: 0.2rem;
    gap: 3rem;
    display: flex;
    position: fixed;
    place-content: center;
    flex-direction: column;
    margin: 0;
    padding-left: 5%;
    inset: 0 0 0 30%;
    z-index: 100;
    transition: transform ease-in-out 200ms;
  }
  .primary-navigation[data-visible="true"]{
    transform: translateX(0);
  }
  .primary-navigation[data-visible="false"]{
    transform: translateX(100%);
  }
  .primary-navigation.underline-indicator > .active{
    border-bottom: none;
  }
  .mobile-nav-toggle{
    display: block;
    position: absolute;
    z-index: 120;
    right: 3rem;
    top: 3.8rem;
    width: 1.45rem;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background: transparent;
    background-position: center;
    border: 0;
  }
  .mobile-nav-toggle[aria-expanded="false"]{
    background-image: url("/src/assets/shared/icon-hamburger.svg");
  }
  .mobile-nav-toggle[aria-expanded="true"]{
    width: 1.3rem;
    background-image: url("/src/assets/shared/icon-close.svg");
  }
  .mobile-nav-toggle:focus-visible{
    outline: 5px solid white;
    outline-offset: 4px;
  }
  .planet-text_bottom div + div{
    margin-top: 2rem;
  }
  .img-destination{
    margin-top: 1rem;
  }
}



@media (min-width: 600px){
  .grid-container{
    padding-top: max(1em, 3em);
  }
  .grid-container p{
    max-width: 65ch;
  }
  .grid-container > * > p {
    padding-inline: 0;
  }
  .grid-container--destination{
    margin-top: 2rem;
  }
  .grid-container--crew{
    display: grid;
    grid-template-areas: 
      'content'
      'nav';
    padding-bottom: 0;
  }
  .grid-container--crew .col-2{
    grid-row: 3;
    border-bottom: 0;
  }
  .grid-container--crew .col-3{
    grid-row: 2;
  }
  .grid-container--crew nav{
    grid-area: nav;
  }
  .grid-container--crew article{
    grid-area: content;
  }
  .grid-container--technology{
    grid-template-columns: 1fr minmax(0, 60ch) minmax(0, 30rem) 1fr;
  }
  .primary-navigation{
    display: flex;
    position: relative;
    flex-direction: row;
    inset: unset;
    padding-inline: 3rem;
    flex-basis: 30%;
    --gap: 0.2rem;
    --underline-gap: 1rem;
  }
  .primary-navigation--destination{
    --gap: 0.4rem;
  }
  .dot-indicators > *{
    padding: .3rem;
  }
  .planet-text--crew > p{
    max-width: 55ch;
  }
  .planet-text_bottom{
    display: flex;
    justify-content: space-around;
  }
  .img-crew{
    width: 70%;
  }
  .bg-home-d{
    background-image: url("/public/assets/home/background-home-tablet.jpg");
  }
  .bg-destination{
    background-image: url("./assets/destination/background-destination-tablet.jpg");
  }
  .bg-crew{
    background-image: url("./assets/crew/background-crew-tablet.jpg");
  }
}

@media (max-width: 899px) and (min-width: 600px){
  .numbered-title-300{
    position: absolute;
    top: 10%;
    left: 4%;
    text-align: left;
  }
  .primary-navigation > * > li span{
    display: none;
  }
}

@media (min-width: 900px){
  header{
    margin-top: 3rem;
  }
  h1 {
    font-size: var(--fs-500);
  }
  .grid-container{
    grid-template-columns: minmax(2em, 1fr) minmax(0, 40ch) minmax(0, 40rem) minmax(2em, 1fr);
    grid-template-rows: 1fr;
    column-gap: var(--container-gap, 2rem);
    text-align: left;
    align-items: end;
  }
  .grid-container > *:first-child{
    grid-column: 2;
  }
  .grid-container > *:last-child{
    grid-column: 3;
    place-content: flex-end;
  }
  .grid-container--destination{
    margin-top: 6rem;
    column-gap: clamp(2rem, 10vw, 10rem);
  }
  .grid-container--crew .col-2{
    grid-row: 2;
    grid-column: 3;
    border-bottom: 0;
  }
  .grid-container--crew .col-3{
    grid-column:2;
    grid-row: 2;
    border-bottom: 0;
    place-self: center;
  }
  .grid-container--crew .col-3 nav{
    padding-top: 6rem;
    place-self: start;
  }
  .grid-container--technology{
    grid-template-areas: 
    '. title title .'
    '. content image .'
    '. content image .';
    grid-row: 2 / 4;
    gap: var(--gap, 2rem);
  }
  
  .grid-container--technology .col-2{
    grid-row: 2;
    grid-column: 3;
    border-bottom: 0;
  }
  .grid-container--technology .col-3{
    grid-column:2;
    grid-row: 2;
    border-bottom: 0;
    place-self: center;
  }
  .col-2{
    grid-column: 2;
    place-content: center;
  }
  .col-3{
    grid-column: 3;
  }
  .numbered-title-300{
    display: absolute;
    margin-bottom: 5rem;
  }
  .numbered-title-300--crew{
    margin: 0;
    grid-column: 1;
    grid-row: 2;
    place-self: start;
  }
  .numbered-title-300--technology{
    margin: 0;
    grid-area: title;
    place-self: start;
  }
  .line{
    position: relative;
    display: block;
    margin-top: 2.5rem;
    margin-left: 1em;
    width: 100%;
    max-width: 45vw;
  }
  .line > span{
    position: absolute;
    z-index: 100;
    display: block;
    margin-left: 3rem;
    width: 100%;
    height: 1px;
    background-color: hsl( var(--clr-white) / .25);
  }
  .line-destination{
    position: relative;
    inset: 0;
    width: 100%;
  }
  .primary-navigation{
    padding-right: clamp(5rem, 15vw, 16rem);
    padding-left: 5em;
    --gap: 0.5rem;
    --underline-gap: 1.5rem;
  }
  .primary-navigation--main {
    padding-right: 0;
    padding-left: 0;
  }
  .primary-navigation--destination{
    place-content: start;
  }
  .planet-text > p{
    margin: 0;
  }
  .planet-text_bottom{
    justify-content: start;
    gap: 4rem;
  }
  .dot-indicators > *{
    padding: .45rem;
  }
  .m-button{
    justify-self: end;
  }
  .img-destination{
    width: 100%;
  }
  .img-crew{
    width: 80%;
  }
  .bg-home-d{
    background-image: url("/public/assets/home/background-home-desktop.jpg");
  }
  .bg-destination{
    background-image: url("./assets/destination/background-destination-desktop.jpg");
  }
  .bg-crew{
    background-image: url("./assets/crew/background-crew-desktop.jpg");
  }
}

/* supports queries */

@supports (not (backdrop-filter: blur(81.5485px))){
  .bg-dark--alpha{
    background-color: hsl( var(--clr-white) / .95);
  }
}

